<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>graphviz component</title>
    <link rel="import" href="packages/graphviz/components/graphviz_module.html">
    <link rel="import" href="graphviz_editor.html">
  </head>
  <body unresolved>
    <graphviz-editor module="module"></graphviz-editor>
    <graphviz-module id="module">
      digraph G {
        A -> B;
        A -> C;
      }
    </graphviz-module>
    <script type="application/dart">export 'package:polymer/init.dart';</script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
